<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.management.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.graduation.management.dto.UserInfoDTO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="phone_number" property="phoneNumber" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="user_img" property="userImg" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="mailbox" property="mailbox" />
        <result column="address" property="address" />
        <result column="sign" property="sign" />
        <result column="type" property="type"/>
    </resultMap>
    <select id="selectUserInfo" resultMap="BaseResultMap" parameterType="com.graduation.management.dto.UserInfoDTO">
        select * from user_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number = #{phoneNumber}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="name != null and name != ''">
                and name LIKE CONCAT(CONCAT('%',#{name},'%')) ESCAPE '/'
            </if>
            <if test="mailbox != null and mailbox != ''">
                and mailbox = #{mailbox}
            </if>
            <if test="address != null and address != ''">
                and address LIKE CONCAT(CONCAT('%',#{address},'%')) ESCAPE '/'
            </if>
            <if test="sign != null and sign != ''">
                and sign LIKE CONCAT(CONCAT('%',#{sign},'%')) ESCAPE '/'
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
    </select>
    <update id="updateUserInfo" parameterType="com.graduation.management.dto.UserInfoDTO">
        update user_info
        <set>
            <if test="name != null and name != '' ">name=#{name},</if>
            <if test="userImg != null and userImg != '' ">user_img=#{userImg},</if>
            <if test="mailbox != null and mailbox != '' ">mailbox=#{mailbox},</if>
            <if test="address != null and address != '' ">address=#{address},</if>
            <if test="sign != null and sign != '' ">sign=#{sign},</if>
            <if test="type != null and type != '' ">type=#{type},</if>
            update_time = UNIX_TIMESTAMP(now())
        </set>
        where id=#{id}
    </update>
    <update id="updatePassword">
        update user_info
        password=#{password}
        where phone_number=#{phoneNumber}
    </update>
    <insert id="insertUserInfo">
        insert into user_info(
            phone_number, password, name, user_img,create_time,update_time,mailbox,address,sign,type)
        values (#{phoneNumber},#{password},#{name},#{userImg},UNIX_TIMESTAMP(now()),UNIX_TIMESTAMP(now()),#{mailbox},#{address},#{sign},#{type})
    </insert>
    <delete id="deleteUserInfoById">
        delete from user_info
        where id = #{id};
    </delete>
</mapper>