<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.chat.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.graduation.chat.dto.UserInfoDTO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="phone_number" property="phoneNumber" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="user_img" property="userImg" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="mailbox" property="mailbox" />
        <result column="address" property="address" />
        <result column="sign" property="sign" />
        <result column="type" property="type"/>
        <result column="department" property="department"/>
    </resultMap>
    <resultMap id="ContactResultMap" type="com.graduation.chat.result.ContactResult">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="phone_number" property="phoneNumber" />
        <result column="name" property="name" />
        <result column="user_img" property="userImg" />
        <result column="mailbox" property="mailbox" />
        <result column="address" property="address" />
        <result column="sign" property="sign" />
        <result column="department" property="department"/>
    </resultMap>
    <select id="selectUserInfo" resultMap="BaseResultMap" parameterType="com.graduation.chat.dto.UserInfoDTO">
        select * from user_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number = #{phoneNumber}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="name != null and name != ''">
                and name LIKE CONCAT(CONCAT('%',#{name},'%')) ESCAPE '/'
            </if>
            <if test="mailbox != null and mailbox != ''">
                and mailbox = #{mailbox}
            </if>
            <if test="address != null and address != ''">
                and address LIKE CONCAT(CONCAT('%',#{address},'%')) ESCAPE '/'
            </if>
            <if test="sign != null and sign != ''">
                and sign LIKE CONCAT(CONCAT('%',#{sign},'%')) ESCAPE '/'
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="department != null and department != ''">
                and department LIKE CONCAT(CONCAT('%',#{department},'%')) ESCAPE '/'
            </if>
        </where>
    </select>
    <select id="selectUserListByNameWithoutPhoneNumber" resultMap="ContactResultMap">
        select * from user_info
        <where>
            <if test="name != null and name != ''">
                and name LIKE CONCAT(CONCAT('%',#{name},'%')) ESCAPE '/'
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number != #{phoneNumber}
            </if>
        </where>
    </select>
    <select id="selectUserInfoByPhoneNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from user_info where phone_number = #{phoneNumber}
    </select>
    <select id="selectUserInfoById" resultMap="ContactResultMap">
        select * from user_info where id = #{id}
    </select>
    <update id="updateUserInfo" parameterType="com.graduation.chat.dto.UserInfoDTO">
        update user_info
        set user_img=#{userImg},mailbox=#{mailbox},address=#{address},sign=#{sign},update_time = UNIX_TIMESTAMP(now())
        where id=#{id}
    </update>
    <update id="updatePassword">
        update user_info
        set password=#{password},update_time = UNIX_TIMESTAMP(now())
        where id=#{id}
    </update>
</mapper>